:root {
  position: relative;
  background: no-repeat
    linear-gradient(
      140deg,
      rgba(255, 168, 130, 1) 0%,
      rgba(255, 139, 171, 1) 26%,
      rgba(173, 135, 236, 1) 100%
    );

  --color-main: #ad87ec;
  --color-pink: #f982d3;
  --color-blossom: #ff8bab;
  --color-darkOrange: #ffa882;
  --color-darkYellow: #ffd068;
  --color-lemon: #f9f871;
}
